/* min styling*/
body{
    margin: 0%;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #e30613;
    align-items: center;
}

.fix-logo{
    width: 50%;
    margin: 5%;
    border: solid white;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows:auto ;
    justify-items: center;
}

.uge {
    grid-column: 1;
    padding-top:35%;
    width: auto;
    height: auto;
}

.vid {
    grid-column: 2;
    padding-top:10%;
    width: auto;
    height: auto;
}

.kon{
    grid-column: 3;
    padding-top: 35%;
    width: auto;
    height: auto;
}

.nyhed {
    grid-column: 2;
    margin-top: 10%;
    font-size: 25px;
    text-decoration: none;
    color: black;
    background-color: grey;
    justify-self: auto;
    border: 1px solid black;
    border-radius: 5px;
}

h1  {
    grid-column: 2;
    font-size: 15px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.foot{
    width: 100%;
}